# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Logs
*.log

# PyTorch Lightning checkpoints (if applicable)
*.ckpt

# TensorBoard logs
runs/

# VSCode Python extension profiling
.profile/

# Others
*.pkl

# Model weights (e.g., ResNet, Swin Transformer)
checkpoint/*.pth
*.pth

# Ignore all image files (recursively in all folders)
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tif
**/*.tiff
**/*.webp
**/*.svg
**/*.txt
./dataset